<h1 style="color:brown">read_json()</h1>

In [1]:
import pandas as pd

<h1 style="color:red">1. Loading JSON file</h1>

In [2]:
df = pd.read_json('train.json')
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

<h1 style="color:red">2. Loading JSON data from URL</h1>

In [70]:
df2 = pd.read_json("https://api.exchangerate-api.com/v4/latest/INR")
df2.info()
display(df2)

<class 'pandas.core.frame.DataFrame'>
Index: 166 entries, INR to ZWL
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   provider               166 non-null    object
 1   WARNING_UPGRADE_TO_V6  166 non-null    object
 2   terms                  166 non-null    object
 3   base                   166 non-null    object
 4   date                   166 non-null    datetime64[ns]
 5   time_last_updated      166 non-null    int64
 6   rates                  166 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 10.4+ KB

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.0408
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.7330
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.9110
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,4.2600
...,...,...,...,...,...,...,...
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,2.6400
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.1870
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2520
ZWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2900
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2900

<h1 style="color:red">3. read_json parameters</h1>

In [4]:
# parameters same as read_csv :-  dtype, encoding, nrows, chunksize

<h2>date_unit parameter</h2>

In [79]:
# date_unit
# Type: str | None
# Default: None
# Specifies the unit of numeric timestamps when converting to datetime.

# Allowed Values : 's', 'ms', 'us', 'ns'

df2 = pd.read_json("https://api.exchangerate-api.com/v4/latest/INR", date_unit="ns")
df2.info()
df2

<class 'pandas.core.frame.DataFrame'>
Index: 166 entries, INR to ZWL
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   provider               166 non-null    object
 1   WARNING_UPGRADE_TO_V6  166 non-null    object
 2   terms                  166 non-null    object
 3   base                   166 non-null    object
 4   date                   166 non-null    datetime64[ns]
 5   time_last_updated      166 non-null    int64
 6   rates                  166 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 10.4+ KB

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.0408
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.7330
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.9110
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,4.2600
...,...,...,...,...,...,...,...
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,2.6400
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.1870
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2520
ZWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2900
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2900

<h2> convert_dates parameter</h2>

In [43]:
#convert_dates:  bool or list of str, default true
# True	:  Convert default date-like columns
# False :  Do NOT convert any date columns
# ["col1", "col2"] :	Convert only these columns (plus defaults if allowed)

df2 = pd.read_json("https://api.exchangerate-api.com/v4/latest/INR", convert_dates=False)
df2.info()
display(df2)

pd.read_json("https://api.exchangerate-api.com/v4/latest/INR", keep_default_dates=False, convert_dates=["date"]).info()

# Default “date-like” column names              : for -> True
# A column is automatically considered date-like if its name:
# ends with _at → created_at
# ends with _time → start_time
# starts with timestamp
# is named modified
# is named date

<class 'pandas.core.frame.DataFrame'>
Index: 166 entries, INR to ZWL
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   provider               166 non-null    object
 1   WARNING_UPGRADE_TO_V6  166 non-null    object
 2   terms                  166 non-null    object
 3   base                   166 non-null    object
 4   date                   166 non-null    object
 5   time_last_updated      166 non-null    int64
 6   rates                  166 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 10.4+ KB

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.0408
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.7330
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.9110
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,4.2600
...,...,...,...,...,...,...,...
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,2.6400
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.1870
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2520
ZWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2900
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-12-21,1766275201,0.2900

<class 'pandas.core.frame.DataFrame'>
Index: 166 entries, INR to ZWL
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   provider               166 non-null    object
 1   WARNING_UPGRADE_TO_V6  166 non-null    object
 2   terms                  166 non-null    object
 3   base                   166 non-null    object
 4   date                   166 non-null    datetime64[ns]
 5   time_last_updated      166 non-null    int64
 6   rates                  166 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 10.4+ KB

<h2>keep_default_dates parameter</h2>

In [44]:
# keep_default_dates : bool
# Default: True
# Controls whether pandas also converts default date-like columns when convert_dates is enabled.

# True	Convert default date-like columns
# False	Convert ONLY columns listed in convert_dates
pd.read_json("https://api.exchangerate-api.com/v4/latest/INR", keep_default_dates=False).info()

<class 'pandas.core.frame.DataFrame'>
Index: 166 entries, INR to ZWL
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   provider               166 non-null    object
 1   WARNING_UPGRADE_TO_V6  166 non-null    object
 2   terms                  166 non-null    object
 3   base                   166 non-null    object
 4   date                   166 non-null    object
 5   time_last_updated      166 non-null    int64
 6   rates                  166 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 10.4+ KB

<h2>line parameter</h2>

In [45]:
# if JSON structure (each line is a JSON object)    
# {"id":1,"name":"A"}
# {"id":2,"name":"B"}

# Required for big data, logs, streaming data
# Read line-delimited JSON (JSONL / NDJSON)

# df3 = pd.read_json("logs.json", lines=True)

<h2>typ parameter</h2>

In [46]:
# typ -->  {‘frame’, ‘series’}, default ‘frame’
# typ tells pandas what kind of object to return after reading JSON data.
                                                                              #   series               #  frame
# typ = "frame"   → returns a DataFrame (DEFAULT)                                {                     {
# typ = "series"  → returns a Series                                               "x": 10,                 "A": [1, 2, 3],
                                                                        #          "y": 20,                 "B": [4, 5, 6]
# frame -> Suitable for tabular data analysis                           #          "z": 30             }
df4 = pd.read_json("train.json", typ="frame")                           #        }
display(df4)                                                           
# series -> Useful when JSON represents key–value pairs
df4 = pd.read_json("train.json", typ="series")            
display(df4)

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

0        {'id': 10259, 'cuisine': 'greek', 'ingredients...
1        {'id': 25693, 'cuisine': 'southern_us', 'ingre...
2        {'id': 20130, 'cuisine': 'filipino', 'ingredie...
3        {'id': 22213, 'cuisine': 'indian', 'ingredient...
4        {'id': 13162, 'cuisine': 'indian', 'ingredient...
                               ...
39769    {'id': 29109, 'cuisine': 'irish', 'ingredients...
39770    {'id': 11462, 'cuisine': 'italian', 'ingredien...
39771    {'id': 2238, 'cuisine': 'irish', 'ingredients'...
39772    {'id': 41882, 'cuisine': 'chinese', 'ingredien...
39773    {'id': 2362, 'cuisine': 'mexican', 'ingredient...
Length: 39774, dtype: object

<h2>orient parameter</h2>

In [47]:
# orient   -> str, optional
# orient tells pandas HOW the JSON data is organized
# i.e., how rows, columns, and values are stored inside the JSON file.
# Pandas does not convert JSON structure — it only interprets it using orient.
    
# Indication of expected JSON string format. Compatible JSON strings can be produced by to_json() with a corresponding orient value.
# The set of possible orients is:                                                             # split JSON format                    #   records JSON format
# 'split' : dict like {index -> [index], columns -> [columns], data -> [values]}               {                                      [
# 'records' : list like [{column -> value}, ... , {column -> value}]                               "columns": ["id", "name"],            {"id":1,"name":"A"},
# 'index' : dict like {index -> {column -> value}}                                                 "index": [0, 1],                      {"id":2,"name":"B"}
# 'columns' : dict like {column -> {index -> value}}                                               "data": [[1, "A"], [2, "B"]]       ]
# 'values' : just the values array                                                             }
# 'table' : dict like {'schema': {schema}, 'data': {data}

# The allowed and default values depend on the value of the typ parameter.
# when typ == 'series',
# allowed orients are {'split','records','index'}
# default is 'index'
# The Series index must be unique for orient 'index'.

# when typ == 'frame',
# allowed orients are {'split','records','index', 'columns','values', 'table'}
# default is 'columns'
# The DataFrame index must be unique for orients 'index' and 'columns'.
# The DataFrame columns must be unique for orients 'index', 'columns', and 'records'.

df5 = pd.read_json('train.json', orient="column")
display(df5)
df5 = pd.read_json('train.json', orient="records")
display(df5)
# split -> ❌ Cannot work on list-based JSON

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

<h2>precise_float parameter</h2>

In [52]:
# precise_float

# Type: bool,   Default: False
# Controls how floating-point numbers are parsed:

# False → Fast parsing (slightly less precise)
# True → Slower parsing but higher numerical precision
# Set to enable usage of higher precision (strtod) function when decoding string to double values.