 <h1 style='color:red'>  1. Import pandas </h1>

In [1]:
import pandas as pd

 <h1 style='color:red'> 2. Opening a local csv file </h1>
 <p style="background-color:yellow"> <b>
    csv -> comma seperated values
     <br>
    tsv -> tab seperated values
<b> </p>

In [2]:
df2 = pd.read_csv('patients.csv')   # This reads the CSV file named patients.csv into a Pandas DataFrame object named df.
print(df2)                          # Python’s built-in print() function to display the DataFrame in plain text format
display(df2)                        # display  DataFrame as an HTML table
df2                                 # Same as display(df), Works only if df is the last line

       patient_id               name  age arrival_date departure_date  \
0    PAT-09484753  Richard Rodriguez   24   2025-03-16     2025-03-22
1    PAT-f0644084     Shannon Walker    6   2025-12-13     2025-12-14
2    PAT-ac6162e4       Julia Torres   24   2025-06-29     2025-07-05
3    PAT-3dda2bb5    Crystal Johnson   32   2025-10-12     2025-10-23
4    PAT-08591375        Garrett Lin   25   2025-02-18     2025-02-25
..            ...                ...  ...          ...            ...
995  PAT-a01bf534         Amber Vang   26   2025-12-02     2025-12-04
996  PAT-87fa07bd       Martha Smith   89   2025-11-18     2025-11-30
997  PAT-8f07e894     Jennifer James   72   2025-12-12     2025-12-21
998  PAT-4ae301e1     Kara Hernandez   47   2025-02-08     2025-02-20
999  PAT-e2ef9c5f    Lorraine Turner   64   2025-05-04     2025-05-08

              service  satisfaction
0             surgery            61
1             surgery            83
2    general_medicine            83
3           emergency            81
4                 ICU            76
..                ...           ...
995         emergency            91
996         emergency            99
997               ICU            69
998               ICU            61
999  general_medicine            83

[1000 rows x 7 columns]

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

 <h1 style='color:red'> 3. sep Parameter </h1>
<pre style='color:blue'><b>mostly used for .tsv files,     sep = '\t'        by default sep=',' </b> </pre>

In [3]:
df3 = pd.read_csv('web_traffic.tsv', sep='\t')
df3

      0.0   1590.0
0     1.0   2130.0
1     2.0   3221.0
2     3.0   4221.0
3     4.0   5171.0
4     5.0   5762.0
..    ...      ...
738  19.0  17984.0
739  20.0  18111.0
740  21.0  16935.0
741  22.0  16337.0
742  23.0  15695.0

[743 rows x 2 columns]

<h1 style='color:red'> 4. Adding Column Names </h1>
<pre><b> if column names are not specified in the data frame, you can add the column names of your choice using <i style='background-color:yellow'>names</i> parameter<b></pre>

In [4]:
df4 = pd.read_csv('web_traffic.tsv', sep='\t', names=['S.no', 'Web Traffic'])
print(df4.columns)   # this line prints the list of column names from the DataFrame
display(df4)

Index(['S.no', 'Web Traffic'], dtype='object')

     S.no  Web Traffic
0     0.0       1590.0
1     1.0       2130.0
2     2.0       3221.0
3     3.0       4221.0
4     4.0       5171.0
..    ...          ...
739  19.0      17984.0
740  20.0      18111.0
741  21.0      16935.0
742  22.0      16337.0
743  23.0      15695.0

[744 rows x 2 columns]

<h1 style='color:red'> 5. index_col Parameter </h1>

In [5]:
# df5 = pd.read_csv('web_traffic.tsv', sep='\t', index_col='S.no')      **** Error for the web_traffic.tsv file as it doesn't have header names ****
# If the data already HAS a header, then you can use index_col='S.no' :

#If the file does NOT have a header:    Use both names and index_col together:
df5 = pd.read_csv('web_traffic.tsv', sep='\t', names=['S.no', 'Web Traffic'], index_col='S.no')
# S.no will be now considered the Index of the DataFrame.
print(df5.columns)    # this line prints the list of column names from the DataFrame, we can see the 'S.no' is not appearing as 
display(df5)

Index(['Web Traffic'], dtype='object')

      Web Traffic
S.no
0.0        1590.0
1.0        2130.0
2.0        3221.0
3.0        4221.0
4.0        5171.0
...           ...
19.0      17984.0
20.0      18111.0
21.0      16935.0
22.0      16337.0
23.0      15695.0

[744 rows x 1 columns]

<h1 style='color:red'> 6. header parameter </h1>

In [6]:
df6 = pd.read_csv('heart.csv')    # when your first row is column name but pandas treats as a data row
display(df6) 
df6 = pd.read_csv('heart.csv',header=1)   # we use header=1 parameter to make the 1st row of data frame as our column Names 
display(df6)

,,.1,.2,.3,.4,.5,.6,,.7,.8,.9,.10
0,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
1,37,M,ATA,130,283,0,ST,98,N,0,Up,0
2,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
3,54,M,NAP,150,195,0,Normal,122,N,0,Up,0
4,39,M,NAP,120,339,0,Normal,170,N,0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
912,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
913,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
914,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
915,57,F,ATA,130,236,0,LVH,174,N,0,Flat,1
916,38,M,NAP,138,175,0,Normal,173,N,0,Up,0

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
1,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
2,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
3,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
4,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
911,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
912,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
913,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
914,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
915,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

<h1 style='color:red'> 7. usecols Parameter </h1>

In [7]:
df7 = pd.read_csv('heart.csv', header=1, usecols=['Age','Cholesterol','HeartDisease'])   # to filter out the the required columns only.
df7

     Age  Cholesterol  HeartDisease
0     37          283             0
1     48          214             1
2     54          195             0
3     39          339             0
4     45          237             0
..   ...          ...           ...
911   45          264             1
912   68          193             1
913   57          131             1
914   57          236             1
915   38          175             0

[916 rows x 3 columns]

<h1 style='color:red'> 8. skiprows/nrows parameter </h1>

In [8]:
# df8 = pd.read_csv('heart.csv', skiprows=[2,3,5], header=1)      # skips 2,3,5 th rows ( actual data starts from 2nd row, when header=1 used)
# df8 = pd.read_csv('heart.csv', header=1, skiprows=[0,1])      #  skips the ignored row 0 and the header row 1 (column name row)
# df8 = pd.read_csv('heart.csv', header=1, skiprows=[x for x in range(1000) if x%5 == 0])  

df8 = pd.read_csv('heart.csv', header=1, skiprows=[x for x in range(1000) if x>100])  
        # That means it will skip all rows with index greater than 100, i.e. rows 101 to 999.
        # So:  
        #    skiprows in pandas.read_csv() means:     “Do NOT read these row numbers when the given condition is true.”
        #    So whatever list you pass in skiprows=[ ... ] → those rows will be skipped (ignored), not read.
        # Rows 0–100 → will be read
        # Rows 101–999 → skipped
display(df8)

# df8 = pd.read_csv('heart.csv', nrows=200)   # read the first 200 data rows 
df8 = pd.read_csv('heart.csv', header=1, nrows=200)   # read the first 200 data rows after the header row
display(df8)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
1,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
2,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
3,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
4,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
94,43,M,ATA,142,207,0,Normal,138,N,0.0,Up,0
95,39,M,NAP,160,147,1,Normal,160,N,0.0,Up,0
96,56,M,ASY,120,85,0,Normal,140,N,0.0,Up,0
97,41,M,ATA,125,269,0,Normal,144,N,0.0,Up,0
98,65,M,ASY,130,275,0,ST,115,Y,1.0,Flat,1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
1,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
2,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
3,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
4,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
195,42,M,ATA,150,268,0,Normal,136,N,0.0,Up,0
196,53,M,ASY,120,246,0,Normal,116,Y,0.0,Flat,1
197,57,F,TA,130,308,0,Normal,98,N,1.0,Flat,0
198,47,M,TA,110,249,0,Normal,150,N,0.0,Up,0
199,46,M,NAP,120,230,0,Normal,150,N,0.0,Up,0

<h1 style="color:red">9. Encoding Parameter</h1>

In [9]:
# df7 = pd.read_csv("patients.csv")   # In general, data sets have encoding=UTF8

# if datasets with different encoding
# df7 = pd.read_csv("DS_concepts.csv", sep=';')  # ---> UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 107860: invalid continuation byte

df9 = pd.read_csv("DS_concepts.csv", sep=';', encoding="latin-1")
display(df9)

,Type,Data Science Concept,Description
0,AI,Supervised Learning,Supervised learning is a machine learning para...
1,AI,Unsupervised Learning,Unsupervised learning is a machine learning pa...
2,AI,Regression,Regression is a statistical method used for mo...
3,AI,Classification,Classification is a task in supervised learnin...
4,AI,Clustering,Clustering is an unsupervised learning task wh...
...,...,...,...
469,Geometry,Spline Interpolation,Spline Interpolation is a method used to inter...
470,Trigonometry,Spatial Autocorrelation,Spatial Autocorrelation is a measure of the de...
471,Algebra,Graphical Models,Graphical Models are a framework for represent...
472,Calculus,Variational Inference,Variational Inference is a method used to appr...
473,Geometry,Topological Data Analysis,Topological Data Analysis is an approach to an...

<h1 style="color:red"> 10. Skip Bad Lines </h1>

In [10]:
# if our dataset have 5 columns, but some rows have some different no. of columns, in that case it will skip that all lines.

df10 = pd.read_csv("heart.csv", on_bad_lines='error')    # 'error': The default behavior. It raises an exception when a bad line is encountered, stopping the process.
df10 = pd.read_csv("heart.csv", on_bad_lines='warn')    #'warn': Raises a warning for the bad line and skips that specific line, continuing to load the rest of the data.
df10 = pd.read_csv("heart.csv", on_bad_lines='skip')    #'skip': Silently skips the bad lines without raising any error or warning.

display(df10)

,,.1,.2,.3,.4,.5,.6,,.7,.8,.9,.10
0,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
1,37,M,ATA,130,283,0,ST,98,N,0,Up,0
2,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
3,54,M,NAP,150,195,0,Normal,122,N,0,Up,0
4,39,M,NAP,120,339,0,Normal,170,N,0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
912,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
913,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
914,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
915,57,F,ATA,130,236,0,LVH,174,N,0,Flat,1
916,38,M,NAP,138,175,0,Normal,173,N,0,Up,0

<h1 style="color:red">11. dtype Parameter</h1>

In [11]:
df11 = pd.read_csv("patients.csv", dtype={"age":float, "service":object})     # changes the data type of 'age' column: int -> float
display(df11)
df11.info()         # complete information about everyrow of dataset

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24.0,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6.0,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24.0,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32.0,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25.0,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26.0,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89.0,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72.0,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47.0,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64.0,2025-05-04,2025-05-08,general_medicine,83

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      1000 non-null   object
 1   name            1000 non-null   object
 2   age             1000 non-null   float64
 3   arrival_date    1000 non-null   object
 4   departure_date  1000 non-null   object
 5   service         1000 non-null   object
 6   satisfaction    1000 non-null   int64
dtypes: float64(1), int64(1), object(5)
memory usage: 54.8+ KB

<h1 style="color:red">12. Handling Dates</h1>

In [20]:
# in dataset, Dates are stored in object(sting) format, so we can't apply any filters in this columns  as year > 2000
df12 = pd.read_csv("patients.csv", parse_dates=['arrival_date','departure_date'])    # arrival_date, departure_date data types = datetime64
# now we can apply filters in date for 'arrival_date','departure_date' after parsing them into dates, 

# if any two three columns have the date information, then it can be parsed as a single column.   eg :- parse_dates=[['arrival_month',arrival_year'], 'departure_date']
# list of list ['arrival_month',arrival_year']considered as a single column

# we can even pass a dict  parse_dates={"date":['arrival_month',arrival_year']}

display(df12)
df12.info()


# parse_dates: bool or list of int or names or list of lists or dict, default False

# boolean. If True -> try parsing the index.
# list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.
# list of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.
# dict, e.g. ['foo': [1,3]-> parse columns 1, 3 as date and call result 'foo

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      1000 non-null   object
 1   name            1000 non-null   object
 2   age             1000 non-null   int64
 3   arrival_date    1000 non-null   datetime64[ns]
 4   departure_date  1000 non-null   datetime64[ns]
 5   service         1000 non-null   object
 6   satisfaction    1000 non-null   int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 54.8+ KB

<h1 style="color:red">13. Converters</h1>

In [21]:
def rename(name):                  # a function named 'rename' is created, and 'name' is taken as a parameter
    if name == "Julia Torres":
        return "JT"                    
    else: 
        return name

#  in name column of patient.csv file, change (Julia Torres -->  JT) where ever you will find
df13 = pd.read_csv('patients.csv', converters={'name':rename})    # dictionary ---> {'column_name':function_name}
display(df13)

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,JT,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

<h1 style="color:red">14. na_values Parameter</h1>

In [22]:
df14 = pd.read_csv("DS.csv", sep=';', nrows=5, encoding="latin-1")   
display(df14)
df14 = pd.read_csv("DS.csv", sep=';', nrows=5, encoding="latin-1", na_values=['_',"?",'not available'])    # replace all the given values with NaN one
display(df14)

  Type Data Science Concept                             Description,,,,,,,,,,,
0   AI                    ?  Supervised learning is a machine learning para...
1   AI                    _  Unsupervised learning is a machine learning pa...
2   AI        not available  Regression is a statistical method used for mo...
3   AI       Classification  Classification is a task in supervised learnin...
4   AI           Clustering  Clustering is an unsupervised learning task wh...

  Type Data Science Concept                             Description,,,,,,,,,,,
0   AI                  NaN  Supervised learning is a machine learning para...
1   AI                  NaN  Unsupervised learning is a machine learning pa...
2   AI                  NaN  Regression is a statistical method used for mo...
3   AI       Classification  Classification is a task in supervised learnin...
4   AI           Clustering  Clustering is an unsupervised learning task wh...

<h1 style="color:red">15. Loading a Huge dataset into chunks</h1>

In [23]:
df15 = pd.read_csv("patients.csv", chunksize=500)     ###  df15 -> TextFileReader (iterator), NOT DataFrame
#  display(df15)          # Since df15 is not a DataFrame, Pandas/Jupyter cannot render it as a table
# So it will display something like:     <pandas.io.parsers.readers.TextFileReader object at 0x...>

# first_chunk = next(df15)
# display(first_chunk)         #  Display the first chunk

for chunks in df15:
    print(chunks.shape)    #  chunks.size  -->  500*7

(500, 7)
(500, 7)